*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   min-height:100vh;
   background:#0c192c;
}

.project-container{
   position: relative;
   width: 100%;
   min-height: 100vh;
   overflow: hidden;
}
.bubble{
   display:flex;
   position: relative;
   z-index: -1;
}

.bubble span {
   position:relative;
   width: 30px;
   height: 30px;
   background:#4fc3dc;
   margin:0 0.25rem;
   border-radius:50%;
   box-shadow: 0 0 10px #4fc3dc44,
   0 0 50px #4fc3dc,
   0 0 100px #4fc3dc ;
   animation: animate 30s linear infinite;
   animation-duration:calc(200s / var(--i));
  
}

.bubble span:nth-child(even){
   background:#ff2d75;
   box-shadow: 0 0 10px #ff2d7544,
   0 0 50px #ff2d75,
   0 0 100px #ff2d75 ;
}


@keyframes animate
{
   0%{
      transform: translateY(200vh) scale(0)
   }
   100%{
      transform: translateY(-10vh) scale(1)
   }
}

.introduction{
   display:flex;
   flex-direction: column;
   justify-content:center;
   align-items:center;
   margin-top: 25vh;
   line-height: 1.5;
   color:#9aa7bb;
   animation:animate2 15s linear infinite;
}

@keyframes animate2
{
   0%,30%,50%,70%,90%{
      color:#ff2d75;
   }
   100%,20%,40%,60%,80%{
      color:#4fc3dc;
   }
}

.introduction h1{
   font-size:6rem;
}

.introduction h2{
   font-size:4rem;
}

.introduction h3{
   font-size:2rem;
   text-transform: uppercase;
}


.flex-container{
   display:flex;
   justify-content:center;
   padding:10px 20px;
   margin-left: auto;
   
}

.flex{
   opacity:1;
   transition: opacity 0.2s ease-in-out;
   width:80px;
}

.flex:hover{
   opacity:0.4;
}

.flex,.fa,.fab{
   font-size:40px;
   color:#9aa7bb;
   /* color:#2f5876; */
}

.cards{
   display:flex;
   /* justify-content:center; */
}

.card-container{
	/* box-shadow: 0 15px 30px 1px #9aa7bb; */
	/* background: rgba(154, 167, 187, 0.80); */

	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 10rem auto ;
	height: fit-content;
	width: fit-content;
}

.card-container h2{
   color:#ff2d75;
   font-size:3rem;
   text-transform: uppercase;
}

.card-container p{
   color:#4fc3dc;
   text-transform:capitalize;
   font-size:1.2rem;
   font-weight: 600;
}

.connect{
   display:flex;
   justify-content:center;
   align-items:center;
   color:#9aa7bb;
   font-size:3rem;
   margin-right: 2rem;
   text-transform:capitalize;
   font-weight:600;

}

@media only screen and (max-width: 500px) {
   .connect{
      font-size:1.5rem;
   }
   .card-container p{
      padding:10px;
      font-size:1rem;
   }
   .card-container h2{
      font-size:1.5rem;
   }
   .flex,.fa,.fab{
      font-size:30px;
      margin-left: 1rem;;
   }
   .introduction h1{font-size:2rem;}
   .introduction h2{font-size:1.5rem;}
   .introduction h3{font-size:0.7rem;}

   .bubble span {
      width:10px;
      height:10px;
   }
 }
